{% extends "bookstore/main.html" %} 
{% load static %} 
{% load widget_tweaks %}
{% block content %}

<section class="text-lg-start position-absolute top-50 start-50 translate-middle">
  <!-- Background image -->
  <div
    class="bg-image"
    style="
      background-image: url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials.jpg');
      margin-top: 50px;
      margin-left: 50px;
      height: 348px;
      width: 697px;
      background-position: center center;
      background-size: cover;
    "
  ></div>
  <div
    class="card mx-4 mx-md-5 shadow"
    style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(20px);
      height: 355px;
      width: 700px;
      margin-top: -350px;
      margin-left: 50px;
    "
  >
    <div class="card-body">
      <div class="pt-2">
        <h2 class="fw-bold text-center">Reset Your Password</h2>
      </div>
      <div class="container pt-3">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="w-100">
            {{form.new_password1 | add_class:'form-control' | attr:'placeholder:new password'}} 
            {{form.new_password1.help_text}}
            {{form.new_password2 | add_class:'form-control' | attr:'placeholder:new password confirmation'}}
          </div>
          <div
            class="d-grid gap-2 w-75 position-absolute bottom-10 start-50 translate-middle-x pt-3"
          >
            <button class="btn btn-outline-success" type="submit">
              Reset Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
