{% extends "bookstore/main.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<!--section begin block-->
<section class=" gradient-custom ">

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card  shadow" style="margin-top: -49px; margin-left: -147px;
                                    background: hsla(0, 0%, 100%, 0.30);
                                    backdrop-filter: blur(20px); text-white border-radius: 1rem;
                                    width: 450px;
                                    height:220px;"> 
              
                <div class="card-body p-5 text-center">
                    <div>
                        <h4 class="fw-bold">Password Reset via email</h4>
                    </div>
                    <form  action="" method="POST">
                        {% csrf_token %}
                        <div class=" pt-2">
                            <div class="form-outline">
                                {{form.email | add_class:'form-control'|attr:'placeholder:email'}}      
                        </div>
                        <div class="container pt-3">
                            <button class="btn btn-outline-warning" type="submit">
                                send email</button> 
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>  
</div>
</section>
<!--section endblock-->
{% endblock content %}